<h1>Add new menu</h1>

<form action="/menu" method="post" type="application/json">
	<label for="title">Title</label>
	<input type="text" name="title" id="title" />

	<label for="description">Description</label>
	<textarea name="description" id="description"></textarea>

	<button type="submit">Add menu</button>
</form>