<!doctype HTML>
<html lang="en">
	<head>
		<title>Example Express App</title>

		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		{% block content %}
		{% endblock content %}
	</body>
</html>